# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs
*.log

# Ignore node modules (for JavaScript projects)
node_modules/